---
import Layout from "@layouts/index.astro";
import Header from "@components/header.svelte";
import HeroSecondary from "@components/hero_secondary.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const services = await getCollection("services");
  return services.map((service) => ({
    params: { slug: service.slug },
    props: { service },
  }));
}

const { service } = Astro.props;
const { Content } = await service.render();
---

<Layout>
  <Header client:load />
  <HeroSecondary title={service.data.title} />
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl mt-28 md:mx-0">
      <Content />
    </div>
  </div>
</Layout>
