---
import Logo from "@components/logo.astro";
---

<footer class="bg-gray-900 mt-28" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <Logo />
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">Services</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="/services/web"
                  class="text-sm leading-6 text-gray-300 hover:text-white"
                  >Website Development
                </a>
              </li>
              <li>
                <a
                  href="/services/web-app"
                  class="text-sm leading-6 text-gray-300 hover:text-white"
                  >Web Application Development</a
                >
              </li>
              <li>
                <a
                  href="/services/mobile"
                  class="text-sm leading-6 text-gray-300 hover:text-white"
                  >Mobile Application Development</a
                >
              </li>
              <li>
                <a
                  href="/services/integrations"
                  class="text-sm leading-6 text-gray-300 hover:text-white"
                  >Integrations</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="/about"
                  class="text-sm leading-6 text-gray-300 hover:text-white"
                  >About</a
                >
              </li>
              <li>
                <a
                  href="https://blog.waysoftware.dev"
                  class="text-sm leading-6 text-gray-300 hover:text-white"
                  >Blog</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
