---
import BlobWithNumber from "@components/blob_count.astro";
---

<div class="overflow-hidden mt-28">
  <h3
    class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
  >
    Workflow
  </h3>
  <div
    class="mt-6 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
  >
    <div class="flex justify-start">
      <div class="mr-4 relative">
        <BlobWithNumber variant="blue" count="01." />
      </div>
      <div>
        <h3 class="text-base font-semibold leading-7 text-way_blue">
          Discovery
        </h3>
        <p>
          During this initial discovery phase, the primary goal is to gain an
          understanding of your project and your business as a whole. Where
          appropriate, I prefer to follow something close to{" "}
          <a
            href="https://www.lucidchart.com/blog/ddd-event-storming"
            target="_blank"
            class="text-way_green"
          >
            event storming
          </a>{" "}
          where together we can explore the problem space and you can transfer and
          share all of your knowledge and expertise. We'll build a shared language
          to communicate with and this will end up directly informing the structure
          and design of the actual program.
        </p>
      </div>
    </div>
    <div class="flex justify-start">
      <div class="mr-4 relative">
        <BlobWithNumber variant="green" count="02." />
      </div>
      <div>
        <h3 class="text-base font-semibold leading-7 text-way_green">
          Planning
        </h3>
        <p>
          During the planning phase, I'll take everything I've learned and
          iterate on a solution architecture for the project. Once we land on a
          high level architecture, we'll move into the next phase of agile
          development cycles.
        </p>
      </div>
    </div>
    <div class="flex justify-start">
      <div class="mr-4 relative">
        <BlobWithNumber variant="yellow" count="03." />
      </div>
      <div>
        <h3 class="text-base font-semibold leading-7 text-way_yellow">
          Development
        </h3>
        <p>
          Development here is inclusive of development, testing, and deployment.
          We'll work together to decide on a workflow that works for you, but
          the gist will be that we enter a feedback loop where I will develop
          the solution iteratively, presenting progress along the way. Each
          iteration will refine the product over time. Ideally, real users begin
          using the product at some point during this phase and feedback can
          inform the iterations to ensure that the right product is being built.
        </p>
      </div>
    </div>
  </div>
</div>
